.jumbotron {
	background-color: red;
	padding-top: 40px;
	padding-bottom: 3px;
	text-align: center;
	font-style: italic;
	font-family: serif;
	font-size: 100px;
	font-weight: bold;
}

.input-field {
	background-color: red;
}

#search {
	text-align: center;
}

#search-btn {
	background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/600px-Flag_of_the_United_States.svg.png");
	background-size: 300px, 50px; 
	padding: 40px, 20px;
	margin-left: 10%;
	font-size: 20px;
	font-weight: bold;
}

#map {
	margin-top: 10px;
	background-color: white;
	margin-bottom: 10px;
}

#profiles {
	width: 100%;
	background-color: blue;
}

footer {
	padding: 10px;
	text-align: center;
	color: white;
	background-color: blue;
}