.jumbotron {
	background-color: red;
	padding-top: 40px;
	padding-bottom: 3px;
	text-align: center;
	font-style: italic;
	font-family: serif;
	font-size: 100px;
	font-weight: bold;
}

.input-field {
	background-color: red;
}

#map {
	margin-top: 10px;
	background-color: white;
	margin-bottom: 10px;
}

#profiles {
	width: 100%;
	background-color: blue;
}

footer {
	padding: 10px;
	text-align: center;
	color: white;
	background-color: blue;
}